.factory {
  color: white;
  width: 100%;
  height: 100%;
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.factory-wrapper {
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  background-color: rgb(25, 36, 48);
  border-radius: 0.3rem;
  max-width: 90rem;
  display: flex;
  overflow: hidden;
}

.filter-zone,
.list-zone,
.detail-zone {
  min-height: 100%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
}

.filter-zone::-webkit-scrollbar,
.list-zone::-webkit-scrollbar,
.detail-zone::-webkit-scrollbar {
  width: 1px;
}

.filter-zone::-webkit-scrollbar-thumb,
.list-zone::-webkit-scrollbar-thumb,
.detail-zone::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
}

.filter-zone::-webkit-scrollbar-thumb:hover,
.list-zone::-webkit-scrollbar-thumb:hover,
.detail-zone::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.filter-zone {
  width: 15rem;
  min-width: 15rem;
  border-right: none;
  overflow-y: scroll;
}

.list-zone {
  width: 20rem;
  min-width: 20rem;
  border-right: none;
}

.detail-zone {
  flex-grow: 1;
}

.filter-zone button {
  margin: 1rem;
}

.filter {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  /* padding: 1rem; */
  display: flex;
  flex-direction: column;
  align-items: start;
}

.filter li {
  list-style: none;
  padding: 0.8rem 0 0.8rem 1rem;
  /* background: #000; */
  width: 100%;
  text-align: left;
}

.filter span {
  font-weight: bold;
  padding: 0.6rem 0 0.6rem 1rem;
}

.list-zone .search {
  padding: 1rem;
}

.search {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

input:not([type="radio"]) {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  appearance: none;
  background-color: #192430;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0.3rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.factory-card,
.detail-zone .header {
  display: flex;
  padding: 1rem 1rem 1rem 1.5rem;
  justify-content: space-between;
  align-items: center;
  /* background: #000; */
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.factory-card .text,
.header .text {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.factory-card {
  cursor: pointer;
}

.factory-card .industry,
.header .industry {
  font-weight: lighter;
  font-size: 13px;
}

/* .detail-zone .header {
  padding: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
} */

.selected {
  background: rgb(48, 58, 69);
}

.detail-zone .header {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

.detail-zone .detail {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.detail img {
  width: 100%;
}

.detail table {
  margin-top: 2rem;
  width: 100%;
}

.detail tr {
  width: 100%;
  /* background: #000; */
}

.detail td {
  padding: 1rem;
  text-align: left;
}

.detail .td1 {
  width: 9rem;
}

.detail-zone .buttons {
  /* background: #000; */
  height: 100%;
  display: flex;
  padding: 2rem;
  justify-content: space-between;
  align-items: end;
}

.edit {
  background: rgb(116, 90, 242);
  height: 2.5rem;
  width: 5rem;
}

.move {
  background: rgb(57, 139, 247);
  height: 2.5rem;
  width: 5rem;
}

.add-factory {
  background: rgb(242, 90, 90);
}

.edit:hover {
  background: rgb(95, 74, 201);
}

.move:hover {
  background: rgb(52, 108, 172);
}

.add-factory:hover {
  background: rgb(180, 67, 67);
}

button,
button {
  padding: 0.3rem 0.8rem 0.3rem 0.8rem;
  color: white;
  border-radius: 0.3rem;
  border-style: none;
  text-wrap: nowrap;
  /* height: 2.5rem;
  width: 5rem; */
}

button:hover {
  transition: all 0.2s;
}
