.custom-navbar {
  position: fixed;
  max-height: 56px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  user-select: none;
}

.custom-navbar .logo {
  margin-left: 1rem;
  color: var(--text-color);
}

.custom-navbar .login-btn {
  margin-right: 1rem;
  text-wrap: nowrap;
}

.custom-navbar .toggle {
  border: none;
}

.custom-navbar .route {
  display: flex;
  align-items: center;
}

.custom-navbar .toggle {
  transition: all 0.1s;
}

.custom-navbar .toggle:hover {
  background: none;
  color: inherit;
  font-weight: bold;
}

.custom-navbar .toggle:focus-visible {
  /* all: unset; */
  color: unset;
  background-color: unset;
  box-shadow: unset;
}

.custom-navbar .header-text {
  /* color: white; */
  margin-left: 1rem;
  /* font-weight: bold; */
  text-wrap: nowrap;
}

.theme-toggle-button {
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin-right: 1rem;
}

.toggle-switch {
  width: 50px;
  height: 25px;
  border-radius: 25px;
  position: relative;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px;
  background: linear-gradient(to top, #b9e3ff, #51b7ff);
}

.toggle-switch.active {
  background: linear-gradient(to top, #30526b, #09152c);
}

.toggle-handle {
  width: 21px;
  height: 21px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: transform 0.3s;
}

.toggle-switch.active .toggle-handle {
  transform: translateX(25px);
}

.icon {
  color: #333;
  font-size: 1em;
}

.moon-icon {
  margin-left: 0.2rem;
  color: #ffa500;
}
.sun-icon {
  margin-right: 0.2rem;
  color: coral;
}

.moon-icon,
.sun-icon {
  z-index: 0;
}

.custom-navbar .buttons {
  display: flex;
  align-items: center;
}

.custom-navbar img {
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  object-fit: cover;
  margin-right: 1rem;
  cursor: pointer;
}

.custom-navbar .profile-card img {
  width: 3.6rem;
  height: 3.6rem;
}

.header-dropdown {
  position: absolute;
  right: 0.6rem;
  top: 58px;
  display: flex;
  flex-direction: column;
  box-shadow: 3px 1px 5px 1px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.header-dropdown .profile-card {
  padding: 1rem 3rem 1rem 1rem;
  background: rgb(57, 139, 247);
  border-radius: 3px 3px 0 0;
  min-width: 20rem;
  color: white;
  display: flex;
}

.header-dropdown .profile-card .profile-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.profile-text .name {
  font-weight: bold;
}

.profile-text .mail {
  opacity: 0.5;
}

.header-dropdown .profile-box {
  padding: 1rem;
  padding-left: 2rem;
  text-align: left;
  cursor: pointer;
}

.header-dropdown .profile-box:hover {
  background: var(--layer2-bg-color);
}
