.custom-navbar {
  background-color: rgb(25, 36, 48);
  position: fixed;
  top: 0;
  /* width: 100% */
  left: 0;
  right: 0;
  z-index: 1;
}

.custom-navbar .logo {
  margin-left: 1rem;
  color: white;
}

.custom-navbar .login-btn {
  margin-right: 1rem;
}

.custom-navbar .toggle {
  border: none;
}

.custom-navbar .toggle:hover {
  background: none;
}

.custom-navbar .header-text {
  color: white;
  margin-left: 1rem;
  font-weight: bold;
}
