.custom-navbar {
  background-color: rgb(25, 36, 48);
}

.custom-navbar .logo {
  margin-left: 1rem;
  color: white;
}

.custom-navbar .login {
  margin-right: 1rem;
}

.custom-navbar .toggle {
  border: none;
}

.custom-navbar .toggle:hover {
  background: none;
}
