.tooltip-wrapper {
  position: relative;
  display: inline-block;
  overflow: visible;
  /* width: 100%; */
}

.tooltip-box {
  position: absolute;

  background-color: #333;
  color: #fff;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;

  padding: 1rem;
  border-radius: 0.7rem;
  /* white-space: nowrap; */
  z-index: 1000;
  opacity: 0.85;
  min-width: 20rem;
}

.tooltip-box.topleft {
  transform: translate(calc(-100%), calc(-100% - 1.3rem));
}

.tooltip-box.topright {
  transform: translate(1.3rem, calc(-100% - 1.3rem));
}

.tooltip-box.bottomleft {
  transform: translate(calc(-100%), 0);
}

.tooltip-box.bottomright {
  transform: translate(1.3rem, 0);
}

@media (max-width: 360px) {
  .tooltip-box {
    transform: translateX(-50%);
  }
}
