<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>JunLab</title>
</head>
<body class="bg-light m-5">
<main class="justify-content-center">
    <h1>IITP Research Project</h1>
    <a href="/iitp/table" class="btn btn-primary d-inline">Searh Database</a>
</main>
</body>
</html>