<!-- views/layouts/mainLayout.ejs -->
<!DOCTYPE html>
<html>
<head>
    <title> dashboard </title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/dashboard.css">
</head>
<body>
<div class="sidebar">
    <div class="logo">
        <!-- 로고 이미지 또는 텍스트 -->
        <img src="/logo.png" alt="Logo">
    </div>
    <div class="factory-name">

    </div>
    <ul class="menu">
        <li><a href="/dashboard">Dashboard</a></li>
        <li>
            <details>
                <summary>Details</summary>
                <ul>
                    <li><a href="/tvoc">TVOC</a></li>
                    <li><a href="/co2">CO2</a></li>
                    <li><a href="/temperature">Temperature</a></li>
                    <li><a href="/fine-dust">Fine Dust</a></li>
                </ul>
            </details>
        </li>
    </ul>
</div>
<div class="content">
    <!-- 메인 컨텐츠 영역 -->

</div>
</body>
</html>
