<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Dashboard</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oxygen%3A300%2C400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A300%2C400%2C700"/>
  <link rel="stylesheet" href="./styles/dashboard.css"/>
</head>
<body>
<div class="dashboard-XkD">
  <img class="button-navigation-left-inactive-j5b" src="./assets/button-navigation-left-inactive.png"/>
  <div class="top-section-137">
    <div class="coin-card-3e1">
      <img class="auto-group-bdxv-9ww" src="./assets/auto-group-bdxv.png"/>
    </div>
    <div class="coin-card-Qss">
      <img class="auto-group-wocd-LmX" src="./assets/auto-group-wocd.png"/>
    </div>
    <div class="auto-group-5cnu-pwb">
      <div class="coin-card-kKT">
        <img class="auto-group-qfsh-fxD" src="./assets/auto-group-qfsh.png"/>
      </div>
      <div class="coin-card-9cV">
        <img class="auto-group-ymaq-HTo" src="./assets/auto-group-ymaq.png"/>
      </div>
    </div>
  </div>
  <div class="breadcrumbs-BJH">
    <img class="path-2-Tmb" src="./assets/path-2.png"/>
    <p class="welcome-Ndf">Factory</p>
    <img class="path-3-3jo" src="./assets/path-3.png"/>
    <p class="dashboard-NXB">한금</p>
  </div>
  <p class="title-J9w">작업자 상태</p>
  <div class="pagenation-nau">
    <img class="button-navigation-left-inactive-ufX" src="./assets/button-navigation-left-inactive-sWh.png"/>
    <img class="button-navigation-left-inactive-q3P" src="./assets/button-navigation-left-inactive-Cg1.png"/>
  </div>
  <div class="side-menu-xth">
    <div class="rectangle-4-5iR">
    </div>
    <div class="quick-access-DJq">
      <div class="sidemenu-group-title-jny">
        <img class="auto-group-macq-tA5" src="./assets/auto-group-macq.png"/>
      </div>
      <div class="dashboard-nWM">
        <img class="auto-group-efxf-LGy" src="./assets/auto-group-efxf.png"/>
      </div>
    </div>
    <div class="services-3x5">
      <div class="item-B2h">
        <img class="auto-group-eqgy-ja1" src="./assets/auto-group-eqgy.png"/>
      </div>
      <div class="item-qsw">
        <img class="auto-group-nviv-o45" src="./assets/auto-group-nviv.png"/>
      </div>
      <div class="item-Ko7">
        <img class="auto-group-6mcm-gtZ" src="./assets/auto-group-6mcm.png"/>
      </div>
      <div class="item-DtV">
        <img class="auto-group-xemo-aDF" src="./assets/auto-group-xemo.png"/>
      </div>
      <div class="item-uWR">
        <img class="auto-group-s6tz-rgZ" src="./assets/auto-group-s6tz.png"/>
      </div>
    </div>
    <div class="account-ymB">
      <div class="sidemenu-group-title-JoT">
        <img class="auto-group-o9xp-ecR" src="./assets/auto-group-o9xp.png"/>
      </div>
      <div class="item-xND">
        <img class="auto-group-vmud-6DX" src="./assets/auto-group-vmud.png"/>
      </div>
      <div class="item-QED">
        <img class="auto-group-hvrm-Zcu" src="./assets/auto-group-hvrm.png"/>
      </div>
      <div class="item-ffw">
        <img class="auto-group-ltmw-q4d" src="./assets/auto-group-ltmw.png"/>
      </div>
    </div>
    <div class="item-9r1">
      <img class="auto-group-hkot-HxD" src="./assets/auto-group-hkot.png"/>
    </div>
    <img class="line-RHj" src="./assets/line-q2H.png"/>
    <div class="logo-9Ud">
      <div class="auto-group-41a1-3pu">
        <img class="logo-full-colour-b5j" src="./assets/logo-full-colour.png"/>
        <p class="coinspace-WyP">JunLAB</p>
        <img class="burger-zdf" src="./assets/burger.png"/>
      </div>
      <img class="line-7yB" src="./assets/line-MQ5.png"/>
    </div>
  </div>
  <div class="header-TXF">
    <div class="seach-jjf">
      <img class="search-2im" src="./assets/search-CAd.png"/>
      <div class="auto-group-kfds-8mo">Type any cryptocurrency...</div>
    </div>
    <div class="group-7-1ah">
      <div class="profile-ACh">
        <div class="oval-WGZ">
        </div>
        <div class="oval-ZVj">
        </div>
      </div>
      <p class="name-5DB">Administrator</p>
    </div>
    <img class="setting-Zu3" src="./assets/setting.png"/>
    <div class="auto-group-pqhw-5Mb">
      <img class="icon-bell-CBK" src="./assets/icon-bell-2SM.png"/>
      <div class="number-tpq">3</div>
    </div>
  </div>
  <div class="frame-1-GKb">
    <div class="user-simple-offline-98V">
      <img class="auto-group-a94d-HkV" src="./assets/auto-group-a94d.png"/>
    </div>
    <div class="user-simple-offline-AJV">
      <img class="auto-group-n9ud-7Ud" src="./assets/auto-group-n9ud.png"/>
    </div>
    <div class="user-simple-offline-BzH">
      <img class="auto-group-acxh-YZw" src="./assets/auto-group-acxh.png"/>
    </div>
    <div class="user-simple-offline-dLV">
      <img class="auto-group-3wtb-PKf" src="./assets/auto-group-3wtb.png"/>
    </div>
    <div class="user-simple-offline-GPT">
      <img class="auto-group-fx1f-1rq" src="./assets/auto-group-fx1f.png"/>
    </div>
    <div class="user-simple-offline-JL9">
      <img class="auto-group-xpld-TTw" src="./assets/auto-group-xpld.png"/>
    </div>
  </div>
</div>
</body>