<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sensor Data Table</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/SensorTable.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
</head>
<body onload="initializePage()">
<button id="back" onclick="location.href = '/iitp'" class="btn btn-info mx-2 my-2">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left"
         viewBox="0 0 16 16">
        <path fill-rule="evenodd"
              d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
    </svg>
</button>
<h1>Sensor Data Table</h1>
<div class="input-header">
    <div class="form-left">
        <div class="input-group">
            <label for="id">ID 선택:</label>
            <select id="id">
                <option value="all"> 전체</option>
                <% id_list.forEach((id) => { %>
                    <option value="<%= id %>"> <%= id %> </option>
                <% }) %>
            </select>
        </div>
        <div class="input-group">
            <label for="start">시작 날짜:</label>
            <input type="date" id="start" name="start">
        </div>
        <div class="input-group">
            <label for="end">끝 날짜:</label>
            <input type="date" id="end" name="end">
        </div>
        <button id="search" onclick="search()"> 검색</button>
    </div>
    <div class="form-right">
        <button id="downloadButton" onclick="downloadCSV()"><u> CSV Download </u>
        </button>
    </div>
</div>
<table id="sensorTable">
    <caption>
        <% if (totalItems > 0) { %>
            검색결과: <%= totalItems %>개
        <% } %>
    </caption>
    <thead>
    <tr>
        <th>#</th>
        <th>ID</th>
        <th class="hide-on-small-screen">BATT</th>
        <th class="hide-on-small-screen">MAGx</th>
        <th class="hide-on-small-screen">MAGy</th>
        <th class="hide-on-small-screen">MAGz</th>
        <th class="hide-on-small-screen">ZYROx</th>
        <th class="hide-on-small-screen">ZYROy</th>
        <th class="hide-on-small-screen">ZYROz</th>
        <th class="hide-on-small-screen">ACCx</th>
        <th class="hide-on-small-screen">ACCy</th>
        <th class="hide-on-small-screen">ACCz</th>
        <th>AQI</th>
        <th>TVOC</th>
        <th>eC2</th>
        <th>pm1.0</th>
        <th>pm2.5</th>
        <th>pm10</th>
        <th>IRUN</th>
        <th>RED</th>
        <th>ECG</th>
        <th>Temp</th>
        <th scope="col">CREATED_AT</th>
    </tr>
    </thead>

    <tbody id="tableBody">

    </tbody>
</table>
<button id="scroll-to-top" onclick="scrollToTop()">
    <i class="fas fa-arrow-up fa-2x"></i>
</button>
</body>
<script src="/javascripts/SensorTablescroll.js"></script>
</html>
