<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sensor Data Table</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<style>
    td:nth-child(1) {
        font-weight: bold;
    }
    #scroll-to-top {
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: #90a4bb;
        border: none;
        border-radius: 50%; /* 원 모양을 위한 속성 */
        width: 60px;
        height: 60px;
        color: #fff;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        display: none;
    }

    #scroll-to-top:hover {
        background-color: #60839a;
    }
</style>
<body onload="initializePage()">
<button onclick="location.href = '/iitp'" class="btn btn-info mx-2 my-2">뒤로</button>
<div class="mx-5">
    <div class="mb-2">
        <h1 class="">Sensor Data Table</h1>
    </div>
    <div class="d-flex justify-content-between align-items-center p-2">
        <div class="d-flex align-items-center">
            <div class="mx-2">
                <label for="id">ID를 선택하세요:
                    <select id="id">
                        <option value="all"> 전체</option>
                        <% id_list.forEach((id) => { %>
                            <option value="<%= id %>"> <%= id %> </option>
                        <% }) %>
                    </select>
                </label>
            </div>
            <div class="mx-2 text-align-center">
                <label for="start">검색 범위를 선택하세요:
                    <input id="start" type="date" value="">
                    ~
                    <input id="end" type="date" value="">
                </label>
            </div>
            <button id="search" class="btn btn-sm btn-primary" onclick="search()"> 검색 </button>
            <div class="mx-5" id="searchResults">
                <% if (totalItems > 0) { %>
                    검색결과: <%= totalItems %>개
                <% } %>
            </div>
        </div>
        <button id="download" class="btn btn-sm btn-secondary" onclick="downloadCSV()"> <u> csv download </u> </button>
    </div>
    <div class="vw-75">
        <table id="sensorTable" class="table table-striped table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">ID</th>
                <th scope="col">BATT</th>
                <th scope="col">MAGx</th>
                <th scope="col">MAGy</th>
                <th scope="col">MAGz</th>
                <th scope="col">ZYROx</th>
                <th scope="col">ZYROy</th>
                <th scope="col">ZYROz</th>
                <th scope="col">ACCx</th>
                <th scope="col">ACCy</th>
                <th scope="col">ACCz</th>
                <th scope="col">AQI</th>
                <th scope="col">TVOC</th>
                <th scope="col">EC2</th>
                <th scope="col">PM1.0</th>
                <th scope="col">PM2.5</th>
                <th scope="col">PM10</th>
                <th scope="col">IRUN</th>
                <th scope="col">RED</th>
                <th scope="col">ECG</th>
                <th scope="col">TEMP</th>
                <th scope="col">CREATED_AT</th>
            </tr>
            </thead>
            <tbody id="tableBody">
            </tbody>
        </table>
    </div>
    <button id="scroll-to-top" onclick="scrollToTop()">
        <i class="fas fa-arrow-up fa-2x"></i>
    </button>
</div>
</body>
<script src="/javascripts/scroll.js"></script>
</html>
