.account-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
  /* background-color: rgb(189, 191, 202); */
}

.account-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
  width: 100%; /* 대시보드가 전체 가로를 채우도록 설정 */
  margin-left: 0; /* 사이드바가 사라질 때 공간을 대시보드가 채우도록 */
}

.account-main-section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* background-color: #121212; */
}

.ac-bgcolor1 {
  background-color: #2c2c2c;
}

.ac-bgcolor2 {
  background-color: #5c5c5c;
}

.center {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  height: 100%;
}

.bg-layer1 {
  display: flex;
  flex-direction: column; /* 세로 정렬 */
  gap: 5rem;
  height: 85%;
  width: 85%;
  border-radius: 2rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.bg-layer2 {
  display: flex;
  flex-direction: column; /* 세로 정렬 */
  gap: 5rem;
  width: 70%;
  height: 25vh;
  border-radius: 2rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.left-align-text {
  text-align: left;
  margin: 0; /* 기본 마진 제거 */
  padding-left: 5rem;
  color: white;
}

.scroll {
  margin-top: 1rem;
  margin-left: 2.3rem;
  margin-right: 2.3rem;
  margin-bottom: 3rem;
  min-height: 10rem;
  height: 100%;
  /* background: white; */
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  overflow-y: scroll;
  box-sizing: border-box; /* padding, border를 포함한 높이 계산 */
  padding-right: 17px; /* 네이티브 스크롤바 고려한 오른쪽 여백 */
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}

.scroll::-webkit-scrollbar {
  width: 10px;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #c4c4c4; /* 스크롤바 색상 */
  border-radius: 6px; /* 스크롤바 모서리 둥글게 만듦 */
}

.scroll::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* 스크롤바 트랙 색상 */
}