.account-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
  /* background-color: rgb(189, 191, 202); */
}

.account-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
  width: 100%; /* 대시보드가 전체 가로를 채우도록 설정 */
  margin-left: 0; /* 사이드바가 사라질 때 공간을 대시보드가 채우도록 */
}

.account-main-section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* background-color: #121212; */
}

.ac-bgcolor1 {
  background-color: #1f1f1f;
}

.ac-bgcolor2 {
  background-color: #2e2e2e;
}

.margin-left-2 {
  margin-left: 2rem;
}

.center {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100%;
}

.bg-layer1 {
  position: relative;
  display: flex;
  gap: 5rem;
  height: 100%;
  width: 100%;
}

.bg-layer2 {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 40%;
  height: 80%;
  border-radius: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  box-sizing: border-box;
  box-shadow: 2px 7px 15px 8px rgba(0, 0, 0, 0.3);
}

.left-align-text {
  display: flex;
  text-align: left;
  margin: 0; /* 기본 마진 제거 */
  padding-left: 3rem;
  color: white;
}

.Account-scroll {
  margin-left: 2.3rem;
  margin-right: 2.3rem;
  background: white;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.05);
  overflow-y: scroll;
  box-sizing: border-box; /* padding, border를 포함한 높이 계산 */
  padding-right: 17px; /* 네이티브 스크롤바 고려한 오른쪽 여백 */
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
  border-radius: 30px;
  box-shadow: 0 6px 20px -15px #000;
  border-width: 1px 1px 0 0;
  border-color: #fff;
  border-style: solid;
  background-color: rgba(255,255,255,0.5);
}

.Account-scroll::-webkit-scrollbar {
  width: 10px;
}

.Account-scroll::-webkit-scrollbar-thumb {
  background-color: #747373; /* 스크롤바 색상 */
  border-radius: 30px; /* 스크롤바 모서리 둥글게 만듦 */
}

.Account-scroll::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* 스크롤바 트랙 색상 */
  border-radius: 30px;
}

.img-form {
  margin-left: 1rem;
  transition: transform 0.3s ease-in-out;
  display: block; /* 이미지의 디스플레이 속성을 블록으로 설정 */
}

.input-form {
  width: 65%;
  height: 32px;
  font-size: 15px;
  border: 0;
  border-radius: 15px;
  outline: none;
  background-color: rgb(233, 233, 233);
  margin-left: 6rem;
}

.display-flex {
  display: flex;
}

.account-title {
  display: flex;
  text-align: left;
  margin: 0; /* 기본 마진 제거 */
  padding-left: 6rem;
}

.btn-container {
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.flex-container {
  display: flex;
  align-items: center; /* 수직 정렬 설정 (선택 사항) */
}

.transparent-background {
  background-color: white;
  opacity: 0.5; /* 투명도를 0에서 1 사이의 값으로 지정 */
}
