.detail-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
  background-color: #121212;
}

.detail-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
  width: 100%; /* 대시보드가 전체 가로를 채우도록 설정 */
  margin-left: 0; /* 사이드바가 사라질 때 공간을 대시보드가 채우도록 */
}

.detail-section {
  margin-top: 2rem;
  margin-left: 2.3rem;
  margin-right: 2.3rem;
  margin-bottom: 3rem;
  height: 78%;
  background: #d4d4d4;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  overflow-y: auto;
  padding: 1rem;
  display: flex;
  flex-flow: column;
}

.detail-info {
  /*background: #ce4a4a;*/
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detail-chart {
  height: 100%;
  display: inline-grid;
}

input[type="date"] {
  width: 10rem;
  padding: 10px;
  margin-left: 1rem;
  border: none;
  border-radius: 20px;
  box-sizing: border-box;
  background: #f8f9fb;
  font-size: 14px;
  color: gray;
  text-align: center;
}

/* 포커스 시 스타일 */
input[type="date"]:focus {
  box-shadow: 0 0 5px #50b8e4;
  outline: none;
}

input[type="number"] {
  width: 6rem;
  margin-left: 1rem;
  padding: 10px;
  border: none;
  border-radius: 20px;
  box-sizing: border-box;
  background: #f8f9fb;
  font-size: 14px;
  color: gray;
  text-align: right;
}

input[type="number"]:focus {
  box-shadow: 0 0 5px #50b8e4;
  outline: none;
}

.input-number {
  display: flex;
  position: relative;
  height: 2.5rem;
}

.input-number svg {
  position: absolute;
  top: 50%; /* 아이콘을 수직 정렬 */
  left: 1.8rem; /* 아이콘을 왼쪽에 배치 */
  transform: translateY(-50%); /* 아이콘을 수직으로 가운데 정렬 */
  color: #888;
}

.none {
  display: none;
}

.button {
  border: none;
  border-radius: 20px;
  margin-right: 0.5rem;
  padding: 0.3rem 0.7rem 0.3rem 0.7rem;
  cursor: pointer;
  background: rgba(187, 187, 187, 0.65);
  color: white;
}

.button:hover {
  background: rgba(23, 133, 194, 0.73);
  color: white;
}

.button-selected {
  background: #1785c2;
  color: white;
}

.finedust {
  display: flex;
}

.finedust button {
  background-color: #7fbada;
}
