.factory-container {
    display: flex;
    height: 100vh;
    overflow: hidden;
    background-color: #F3F6FE;
}

.factory-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;
    width: 100%; /* 대시보드가 전체 가로를 채우도록 설정 */
    margin-left: 0; /* 사이드바가 사라질 때 공간을 대시보드가 채우도록 */
}

.factory-card-area {
    margin-top: 2rem;
    margin-left: 2.3rem;
    margin-right: 2.3rem;
    margin-bottom: 3rem;
    height: 100%;
    background: white;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    overflow-y: auto;
    display: flex;
    padding: 2rem;
    flex-wrap: wrap;
    justify-content: flex-start;
}

/* 스크롤바 커스텀 스타일 */
.factory-card-area::-webkit-scrollbar {
    width: 12px; /* 스크롤바의 너비 */
}

.factory-card-area::-webkit-scrollbar-track {
    background: #f1f1f1; /* 스크롤바 트랙 배경색 */
}

.factory-card-area::-webkit-scrollbar-thumb {
    background-color: #888; /* 스크롤바 색상 */
    border-radius: 6px; /* 스크롤바 모서리 반경 */
}

.factory-card-area::-webkit-scrollbar-thumb:hover {
    background: #555; /* 스크롤바에 마우스를 올렸을 때 색상 */
}

.factory-card {
    flex-direction: column;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 2rem;
    max-height: 45%;
    position: relative;
    display: flex;
    flex-basis: calc(25% - 4.2rem); /* 2개 카드일 때 한 카드의 너비 */
    text-decoration: none;
    color: #000;
}

.factory-image {
    max-height: 50%;
    max-width: 100%;
}

.factory-image img {
    min-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.factory-details {
    margin: 2rem;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    /*justify-items: center;*/
    height: 100%;
}

.factory-name {
    width: 100%;
    position: absolute;
    bottom: 50%; /* 아래에 배치하려면 bottom 값을 조절하세요 */
    background-color: rgba(0, 0, 0, 0.3); /* 배경색을 원하는 색상으로 설정 */
    color: white; /* 텍스트 색상 설정 */
    padding: 8px 0 8px 0; /* 원하는 패딩 값을 설정하세요 */
    text-align: end;
    font-weight: bold;
    font-size: 18px;
}

.factory-item {
    display: flex;
    font-size: 13px;
    font-weight: bold;
}

@media (max-width: 1800px) {
    .factory-card {
        flex-basis: calc(33.33% - 4.2rem); /* 3개 카드일 때 한 카드의 너비 */
    }
}

@media (max-width: 1200px) {
    .factory-card {
        flex-basis: calc(50% - 4.2rem); /* 2개 카드일 때 한 카드의 너비 */
    }
}

@media (max-width: 800px) {
    .factory-card {
        flex-basis: calc(100% - 4.2rem); /* 2개 카드일 때 한 카드의 너비 */
    }
}