.dot {
  width: 10%;
  max-width: 3rem;
  border-radius: 50%;
  position: absolute;
  aspect-ratio: 1/1;
  font-weight: bold;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: #ffffff; */
}

/* .dot-text {
  position: relative;
  top: 1.2rem;
  font-size: 10%;
} */

.floor-wrapper {
  /* background: #eedbdb; */
  width: 100%;
  height: 100%;
  /* padding: 1rem; */
  /* justify-content: center; */
  /* align-items: center; */
  display: grid;
  position: relative;
  /* transform: translateY(12%); */
}

.floor-plan {
  margin: 2rem;
  /* background: #e49a9a; */
  /* background-image: url(../image/floorplan.jpg); */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  /* aspect-ratio: 1101 /831; */
  max-height: 72vh;
  border-radius: 0.5rem;
  /* background: #000;
  min-width: 100px;
  min-height: 100px; */
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.yellow {
  background-color: rgb(255, 208, 0);
}

.dot:hover .tooltip {
  display: block;
  top: -30px;
  left: 0;
}

.dot img {
  width: 90%;
}

.test {
  background: #000;
  width: 100px;
  height: 100px;
}

.statistic {
  margin-top: 2rem;
  margin-left: 2.3rem;
  margin-right: 2.3rem;
  margin-bottom: 3rem;
  background: white;

  border-radius: 10px;
  overflow-y: auto;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.card-wrapper {
  height: 5rem;
  min-width: 12rem;
  border-radius: 2rem;
  background: #8a898d;
  margin: 0 0.5rem 0.9rem 0.5rem;
  padding: 1rem;
  font-size: large;
  font-weight: bold;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0 1rem 15px rgba(0, 0, 0, 0.06);
}

.card-hr {
  height: 90%;
  width: 0.05rem;
  border-width: 0;
  color: white;
  background-color: white;
}

.card-left,
.card-right {
  width: 45%;
  display: flex;
  justify-content: center;
  /* background: #000; */
}
