.path-section {
  /*height: 10%;*/
  text-align: left;
  padding-left: 50px;
  padding-top: 50px;
  display: flex;
  font-size: 15px;
  /*background-color: #F3F6FE;*/
}

.path {
  margin-right: 20px;
  color: rgb(179, 179, 179);
}

.path-selected {
  font-weight: bold;
  /* background-clip: text; */
  /* -webkit-background-clip: text; */
  color: white;
  /* color: transparent; */
  /* background-image: linear-gradient(122deg, #dadada 0%, #dfcaff 100%); */
}
