.bg {
  background-color: #242222;
}

.bg2 {
  background-color: #505050;
}

.bg3 {
  background-color: #282834;
}

.bg4 {
  background-color: #383747;
}

.bg5 {
  background-color: #75757a;
}

.text-color {
  color: white;
}
