.tooltip {
  display: none;
  position: absolute;
  padding: 1rem;
  background-color: #858181;
  color: white;
  border-radius: 5px;
  pointer-events: none;
  opacity: 90%;
  width: 13rem;
  min-width: 10rem;
  z-index: 100;
}

.tooltip {
  display: block;
  top: -30px;
  left: 0;
}

.tooltip-header {
  display: flex;
  justify-content: space-between;
}

.tooltip-body {
  display: flex;
  flex-direction: column;
}

.tooltip-body-line {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.2rem;
}
