.worker-summary {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
}

.view-icon {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.summary-header {
  padding-left: 3rem;
  padding-right: 3rem;
  color: #1f263e;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  justify-content: space-between;
}

.summary-card {
  width: 100%;
  min-height: 6rem;
  box-shadow: 0 1px 15px -4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.profile-area {
  display: flex;
}

.profile-name-area {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
}

.profile-name {
  font-weight: bold;
}

.profile-id {
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.bpm,
.temperature,
.spo2,
.status-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  width: 120px;
  /* background: #e7b8b8; */
}

.status-area {
  display: flex;
  flex-flow: column;
}

.battery,
.online {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 0.8rem;
}

.right,
.left {
  display: flex;
}

.left {
  margin-left: 2rem;
}

.right {
  margin-right: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}
