.App {
  text-align: center;
  min-height: 100dvh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: var(--layer1-bg-color);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

:root {
  --layerHeader-bg-color: rgb(255, 255, 255);
  --layerSidebar-bg-color: rgb(36, 42, 51);

  --layer1-bg-color: rgb(244, 246, 249);
  --layer2-bg-color: rgb(255, 255, 255);
}

.layerHeader {
  background: var(--layerHeader-bg-color);
}

.layerSidebar {
  background: var(--layerSidebar-bg-color);
  color: white;
  position: relative;
}

.layer1 {
  background: var(--layer1-bg-color);
}

.layer2 {
  background: var(--layer2-bg-color);
  border-radius: 0.5rem;
  position: relative;
}

.layer2 .bar {
  position: absolute;
  top: 1.5rem;
  left: 0;
  background: rgb(57, 139, 247);
  width: 2px;
  height: 30px;
}

#spinner {
  margin: auto;
  width: 50px;
  height: 50px;
  border: 3px solid rgb(228, 231, 234);
  box-sizing: border-box;
  border-top-color: gray;
  border-radius: 100%;
  animation: spin 1s ease-in-out infinite;

  position: absolute;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
