.workermodal {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;

  width: calc(100% - 13rem);
  max-width: 80rem;
  height: calc(100% - 13rem);
  max-height: 75rem;
  z-index: 15;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.5rem;
  overflow: auto;
  border: none;
}

.workermodal .header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  /* background: #000; */
}

.workermodal .header .title {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  text-wrap: nowrap;
}

.workermodal .close:hover {
  opacity: 0.85;
}

.workermodal .close {
  cursor: pointer;
  top: 1rem;
  right: 1rem;
  position: absolute;
}

.workermodal .body {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  margin-top: 1rem;
  overflow-y: scroll;
}

.workermodal .card-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  align-items: flex-start;
  width: 100%;

  justify-content: flex-start;

  padding: 0 1rem 1rem 0;
  overflow-y: scroll;
}

.workermodal .card {
  width: calc(100% / 5 - 1rem);
  /* height: 25rem; */
  margin: 1rem 0 0 1rem;
  /* background: var(--layer3-bg-color); */
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  cursor: pointer;
  min-width: 10rem;
}

.workermodal .card .status {
  display: flex;
  align-items: center;
}

.workermodal .card svg {
  border-radius: 100%;
  /* background: #0a8d1b; */
  width: 13px;
  height: 13px;
  padding: 0.2rem;
  font-size: small;
  margin-right: 0.3rem;
}

.workermodal .card img.level5 {
  border: 0.5rem solid rgb(250, 0, 25);
}

.workermodal .card img.level4 {
  border: 0.5rem solid rgb(253, 188, 58);
}

.workermodal .card img.level3 {
  border: 0.5rem solid rgb(255, 252, 75);
}
.workermodal .card img.level2 {
  border: 0.5rem solid rgb(150, 208, 96);
}

.workermodal .card img.level1 {
  border: 0.5rem solid rgb(34, 180, 237);
}

.workermodal .card img.offline {
  border: 0.5rem solid gray;
}

.workermodal .card img {
  align-self: center;
  border-radius: 100%;
  margin: 0.5rem 0 0.7rem 0;
}

.workermodal .card .name {
  text-align: center;
  font-weight: bold;
}

.workermodal .card .text {
  /* background: #000; */
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  /* text-align: center; */
  display: flex;
  justify-content: space-evenly;
}

.workermodal .card hr {
  /* margin-top: 10rem; */
  margin: 0.5rem 0;
}

.noData {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-wrap: nowrap;
}

@media (max-width: 680px) {
  .workermodal {
    width: calc(100% - 7rem);
    height: calc(100% - 7rem);
  }
}

@media (max-width: 450px) {
  .workermodal {
    width: calc(100% - 1rem);
    height: calc(100% - 1rem);
  }
}

@media (max-width: 1350px) {
  .workermodal .card {
    width: calc(100% / 4 - 1rem);
  }
}

@media (max-width: 1150px) {
  .workermodal .card {
    width: calc(100% / 3 - 1rem);
  }
}

@media (max-width: 950px) {
  .workermodal .card {
    width: calc(100% / 2 - 1rem);
  }
}

@media (max-width: 650px) {
  .workermodal .card {
    width: calc(100% / 1 - 1rem);
  }
}
