.App {
  text-align: center;
  min-height: 100dvh;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  background: rgb(48, 58, 69);
}

.content {
  display: inline-block;
  height: 100%;
  max-height: 100%;
  padding-top: 56px;
}

.logo,
button {
  user-select: none;
}

.main {
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.main.expanded {
  margin-left: 62px;
}

.main.collapsed {
  margin-left: 250px;
}

@media (max-width: 800px) {
  .main.expanded,
  .main.collapsed {
    margin-left: 0;
  }
}

/* 전체 스크롤바의 스타일을 설정합니다 */
.App ::-webkit-scrollbar,
.ReactModalPortal ::-webkit-scrollbar {
  width: 4px; /* 스크롤바의 너비 */
  height: 4px; /* 스크롤바의 높이 */
}

.App ::-webkit-scrollbar,
.ReactModalPortal ::-webkit-scrollbar {
  display: block;
}
.App ::-webkit-scrollbar-track,
.ReactModalPortal ::-webkit-scrollbar-track,
.App ::-webkit-scrollbar-button,
.ReactModalPortal ::-webkit-scrollbar-button {
  display: none;
}
.App ::-webkit-scrollbar-thumb,
.ReactModalPortal ::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 4px;
}
/* 스크롤바 코너를 숨깁니다 */
.App ::-webkit-scrollbar-corner,
.ReactModalPortal ::-webkit-scrollbar-corner {
  display: none;
}

.ReactModal__Content:focus {
  outline: none; /* 포커스 시 아웃라인 제거 */
}

:root {
  /* 기본 라이트 모드에서의 배경색상 */
  --layer1-bg-color: rgb(244, 246, 249);
  --layer2-bg-color: rgb(255, 255, 255);
  --layerSB-bg-color: rgb(36, 42, 51);
  --layerHD-bg-color: rgb(255, 255, 255);
  --layerModal-bg-color: rgb(244, 246, 249);
  --border-color: rgb(228, 231, 234);
  --select-color: #ececec;

  /* 기본 라이트 모드에서의 글씨색상 */
  --text-color: black;

  /* 기본 라이트 모드에서의 스피너색상 */
  --spinner-color: rgb(228, 231, 234);
  --spinner-top-color: gray;

  /* 기본 라이트 모드에서의 그래프색상 */
  --graph-lable-color: black;

  /* 기본 라이트 모드에서의 드래그오버색상 */
  --drag-over-color: #555;
}

.layer1 {
  background-color: var(--layer1-bg-color);
  color: var(--text-color);
}

.layer2 {
  background-color: var(--layer2-bg-color);
  color: var(--text-color);
}

.layerSB {
  background-color: var(--layerSB-bg-color);
  color: var(--text-color);
}

.layerHD {
  background-color: var(--layerHD-bg-color);
  color: var(--text-color);
}

.layerModal {
  background-color: var(--layerModal-bg-color);
  color: var(--text-color);
}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="datetime-local"],
input[type="date"] {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  appearance: none;
  border: 1px solid var(--border-color);
  background-color: var(--layer2-bg-color);
  color: inherit;
  border-radius: 0.3rem;
}

select {
  background-color: var(--select-color);
  color: inherit;
}

#spinner {
  margin: auto;
  width: 50px;
  height: 50px;
  border: 3px solid var(--spinner-color);
  box-sizing: border-box;
  border-top-color: var(--spinner-top-color);
  border-radius: 100%;
  animation: spin 1s ease-in-out infinite;
}
