.App {
  text-align: center;
  min-height: 100dvh;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  background: rgb(48, 58, 69);
}

.content {
  display: inline-block;
  height: 100%;
  max-height: 100%;
  padding-top: 56px;
}

.logo,
button {
  user-select: none;
}

.main {
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.main.expanded {
  margin-left: 62px;
}

.main.collapsed {
  margin-left: 250px;
}

@media (max-width: 800px) {
  .main.expanded,
  .main.collapsed {
    margin-left: 0;
  }
}

/* 전체 스크롤바의 스타일을 설정합니다 */
.App ::-webkit-scrollbar,
.ReactModalPortal ::-webkit-scrollbar {
  width: 4px; /* 스크롤바의 너비 */
  height: 4px; /* 스크롤바의 높이 */
}

.App ::-webkit-scrollbar,
.ReactModalPortal ::-webkit-scrollbar {
  display: block;
}
.App ::-webkit-scrollbar-track,
.ReactModalPortal ::-webkit-scrollbar-track,
.App ::-webkit-scrollbar-button,
.ReactModalPortal ::-webkit-scrollbar-button {
  display: none;
}
.App ::-webkit-scrollbar-thumb,
.ReactModalPortal ::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 4px;
}
/* 스크롤바 코너를 숨깁니다 */
.App ::-webkit-scrollbar-corner,
.ReactModalPortal ::-webkit-scrollbar-corner {
  display: none;
}

.ReactModal__Content:focus {
  outline: none; /* 포커스 시 아웃라인 제거 */
}

:root {
  /* 기본 라이트 모드에서의 배경색상 */
  --layer1-bg-color: rgb(244, 246, 249);
  --layer2-bg-color: rgb(255, 255, 255);

  --layer2-gradient1-color: rgba(255, 255, 255, 0);
  --layer2-gradient2-color: rgba(255, 255, 255, 0.75);
  --layer2-gradient3-color: rgba(255, 255, 255, 1);

  /* --layer3-bg-color: #4b5b6b; */
  --layer3-bg-color: rgb(244, 246, 249);
  --layerSB-bg-color: rgb(36, 42, 51);
  --layerHD-bg-color: rgb(255, 255, 255);

  --layer4-bg-color: rgb(237, 237, 237);

  --layerModal-bg-color: rgb(244, 246, 249);
  --border-color: rgb(228, 231, 234);
  --select-color: #ececec;
  --shadow-color: gray;

  /* 기본 라이트 모드에서의 글씨색상 */
  --text-color: rgb(103, 117, 124);

  /* 기본 라이트 모드에서의 스피너색상 */
  --spinner-color: rgb(228, 231, 234);
  --spinner-top-color: gray;

  /* 기본 라이트 모드에서의 그래프색상 */
  --graph-lable-color: black;

  /* 기본 라이트 모드에서의 드래그오버색상 */
  --drag-over-color: #555;

  --dot-color: black;
  /* --dropdown-hover-color: #f8f9fa; */

  --radar-red: #ff9a9a;
  --radar-yellow: #f8f88a;
  --radar-green: #a2ffa2;

  /* --radar-red: #d65959;
  --radar-yellow: #e0e050;
  --radar-green: #50eb50; */

  --level5-color: rgb(250, 0, 25);
  --level4-color: rgb(253, 136, 58);
  --level3-color: #ebd03c;
  --level2-color: rgb(150, 208, 96);
  --level1-color: rgb(34, 180, 237);
}

.layer1 {
  background: var(--layer1-bg-color);
  color: var(--text-color);
}

.layer2 {
  background: var(--layer2-bg-color);
  color: var(--text-color);
  backdrop-filter: blur(var(--layer2-blur));
  -webkit-backdrop-filter: blur(var(--layer2-blur));
  /* border-radius: 1.5rem !important; */
}

.layer3 {
  background: linear-gradient(
    145deg,
    rgba(255, 255, 255, 0.25) 0%,
    rgba(255, 255, 255, 0.08) 25%,
    rgba(255, 255, 255, 0.04) 100%
  );
  color: var(--text-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.layer4 {
  background: var(--layer4-bg-color);
  color: var(--text-color);
}

.layerSB {
  background: var(--layerSB-bg-color);
  color: var(--text-color);
}

.layerHD {
  background: var(--layerHD-bg-color);
  color: var(--text-color);
}

.layerModal {
  background: var(--layerModal-bg-color);
  color: var(--text-color);
}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="datetime-local"],
input[type="date"] {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  appearance: none;
  border: 1px solid var(--border-color);
  background: none;
  color: inherit;
  border-radius: 0.5rem;
}

input:focus {
  outline: none;
  box-shadow: 0 0 2px rgba(165, 165, 165, 0.5);
}

select {
  background: var(--select-color);
  color: inherit;
}

option {
  opacity: 2 !important;
  color: var(--select-text-color);
}

#spinner {
  margin: auto;
  width: 50px;
  height: 50px;
  border: 3px solid var(--spinner-color);
  box-sizing: border-box;
  border-top-color: var(--spinner-top-color);
  border-radius: 100%;
  animation: spin 1s ease-in-out infinite;
}

.bar {
  position: absolute;
  top: 1.5rem;
  left: 0;
  background: rgb(57, 139, 247);
  width: 2px;
  height: 30px;
}

hr {
  border-color: var(--border-color);
  opacity: 1;
  width: 100%;
  margin: 0;
}

hr.vertical {
  height: 100%;
  border-left: 1px var(--border-color) solid;
  width: 0;
}
